kangwon = ['북춘천', '춘천', '원주', '대관령', '강릉', '북강릉', '속초', '홍천', '동해', '인제', '삼척', '정선군',
           '철원', '태백']

## 강원 전지역 데이터 합치기

In [312]:
import pandas as pd
from pandas import DataFrame, Series

file_list_rain = ['북춘천.csv', '춘천.csv', '원주.csv', '대관령.csv', '강릉.csv', '북강릉.csv', 
             '속초.csv', '홍천.csv', '동해.csv', '인제.csv', '삼척.csv', '정선.csv', '철원.csv', '태백.csv']

df_rain = pd.DataFrame()

for i in file_list_rain :
    data = pd.read_csv('강수량 지역별/'+i, encoding = 'cp949', skiprows = 7)
    
    if i[2] == '.' :
        data['지역'] = i[:2]
    else :
        data['지역'] = i[:3]
    df_rain = pd.concat([df_rain, data])
    
df_rain = df_rain.reset_index(drop = True)

In [313]:
df_rain # 강원도 강수량 데이터

              날짜   지점  강수량(mm)   지역
0     2020-01-20   93      NaN  북춘천
1     2020-01-21   93      NaN  북춘천
2     2020-01-22   93      NaN  북춘천
3     2020-01-23   93      NaN  북춘천
4     2020-01-24   93      NaN  북춘천
...          ...  ...      ...  ...
5676  2021-03-27  216     24.4   태백
5677  2021-03-28  216      1.3   태백
5678  2021-03-29  216      NaN   태백
5679  2021-03-30  216      NaN   태백
5680  2021-03-31  216      NaN   태백

[5681 rows x 4 columns]

In [314]:
df_tem = pd.DataFrame()

for i in file_list_rain :
    data = pd.read_csv('기온 지역별/'+i, encoding = 'cp949', skiprows = 7)
    
    if i[2] == '.' :
        data['지역'] = i[:2]
    else :
        data['지역'] = i[:3]
    df_tem = pd.concat([df_tem, data])
    
df_tem = df_tem.reset_index(drop = True)

In [315]:
df_tem # 강원도 기온 데이터

              날짜   지점  평균기온(℃)  최저기온(℃)  최고기온(℃)   지역
0     2020-01-20   93     -0.9     -7.1      5.1  북춘천
1     2020-01-21   93     -3.1     -9.7      3.9  북춘천
2     2020-01-22   93     -0.5     -3.7      6.0  북춘천
3     2020-01-23   93      0.9     -5.7     10.7  북춘천
4     2020-01-24   93      0.5     -6.4      9.1  북춘천
...          ...  ...      ...      ...      ...  ...
5676  2021-03-27  216     10.6      6.3     14.1   태백
5677  2021-03-28  216     10.1      7.6     13.4   태백
5678  2021-03-29  216      9.0      5.5     13.1   태백
5679  2021-03-30  216      8.6      1.8     16.3   태백
5680  2021-03-31  216      8.5     -0.2     18.5   태백

[5681 rows x 6 columns]

In [316]:
df_tem.groupby('지역').count()

      날짜   지점  평균기온(℃)  최저기온(℃)  최고기온(℃)
지역
강릉   437  437      437      437      437
대관령  437  437      437      437      437
동해   437  437      437      437      437
북강릉  437  437      437      437      437
북춘천  437  437      437      437      437
속초   437  437      437      437      437
원주   437  437      437      437      437
인제   437  437      436      437      437
정선   437  437      436      437      437
철원   437  437      437      437      437
춘천   437  437      437      437      437
태백   437  437      437      437      437
홍천   437  437      437      437      437

## 전지역 강수량 전처리 (null 값 채우기, 기온 조정하기)

In [317]:
df_rain['강수량(mm)'] = df_rain['강수량(mm)'].replace(0, 0.05)

In [318]:
df_rain[df_rain['강수량(mm)'] == 0.05]

              날짜   지점  강수량(mm)   지역
10    2020-01-30   93     0.05  북춘천
13    2020-02-02   93     0.05  북춘천
14    2020-02-03   93     0.05  북춘천
37    2020-02-26   93     0.05  북춘천
44    2020-03-04   93     0.05  북춘천
...          ...  ...      ...  ...
5637  2021-02-16  216     0.05   태백
5647  2021-02-26  216     0.05   태백
5649  2021-02-28  216     0.05   태백
5653  2021-03-04  216     0.05   태백
5655  2021-03-06  216     0.05   태백

[577 rows x 4 columns]

In [319]:
df_rain = df_rain.fillna(0)

## 전지역 기온과 강수량 데이터 합치기

In [320]:
data_weather = pd.merge(df_rain, df_tem)

In [321]:
data_weather

              날짜   지점  강수량(mm)   지역  평균기온(℃)  최저기온(℃)  최고기온(℃)
0     2020-01-20   93      0.0  북춘천     -0.9     -7.1      5.1
1     2020-01-21   93      0.0  북춘천     -3.1     -9.7      3.9
2     2020-01-22   93      0.0  북춘천     -0.5     -3.7      6.0
3     2020-01-23   93      0.0  북춘천      0.9     -5.7     10.7
4     2020-01-24   93      0.0  북춘천      0.5     -6.4      9.1
...          ...  ...      ...  ...      ...      ...      ...
5676  2021-03-27  216     24.4   태백     10.6      6.3     14.1
5677  2021-03-28  216      1.3   태백     10.1      7.6     13.4
5678  2021-03-29  216      0.0   태백      9.0      5.5     13.1
5679  2021-03-30  216      0.0   태백      8.6      1.8     16.3
5680  2021-03-31  216      0.0   태백      8.5     -0.2     18.5

[5681 rows x 7 columns]

## 전지역 강수량 전처리 (null값을 그 달 평균값으로 대체)

In [322]:
data_weather[data_weather['평균기온(℃)'].isnull()] # 2

              날짜   지점  강수량(mm)  지역  평균기온(℃)  최저기온(℃)  최고기온(℃)
3964  2020-02-20  211      0.0  인제      NaN     -2.7      9.8
4380  2020-01-30  217      0.1  정선      NaN     -1.2      6.1

In [323]:
data_weather = data_weather.fillna(0)

In [324]:
# data_weather.iloc[3964]['평균기온(℃)'] is None

In [325]:
#for i in range(3961, 3968) :
#    print(data_weather.iloc[i]['평균기온(℃)'])

In [328]:
sum = 0

for i in range(3961, 3968) :
    sum = sum + data_weather.iloc[i]['평균기온(℃)']
    
avg = round((sum / 6), 1)

avg

-0.6

In [329]:
sum = 0

for i in range(4377, 4384) :
    sum = sum + data_weather.iloc[i]['평균기온(℃)']
    
avg2 = round((sum / 6), 1)

avg2

2.2

In [330]:
data_weather.loc[3964, '평균기온(℃)'] = avg
data_weather.loc[4380, '평균기온(℃)'] = avg2

In [331]:
# 확인
data_weather['평균기온(℃)'].isnull().sum()

0

In [332]:
data_weather.iloc[4380]['평균기온(℃)']

2.2

## 지점 column 없애기

In [333]:
data_weather.drop(columns=['지점'], inplace=True)

In [334]:
data_weather

              날짜  강수량(mm)   지역  평균기온(℃)  최저기온(℃)  최고기온(℃)
0     2020-01-20      0.0  북춘천     -0.9     -7.1      5.1
1     2020-01-21      0.0  북춘천     -3.1     -9.7      3.9
2     2020-01-22      0.0  북춘천     -0.5     -3.7      6.0
3     2020-01-23      0.0  북춘천      0.9     -5.7     10.7
4     2020-01-24      0.0  북춘천      0.5     -6.4      9.1
...          ...      ...  ...      ...      ...      ...
5676  2021-03-27     24.4   태백     10.6      6.3     14.1
5677  2021-03-28      1.3   태백     10.1      7.6     13.4
5678  2021-03-29      0.0   태백      9.0      5.5     13.1
5679  2021-03-30      0.0   태백      8.6      1.8     16.3
5680  2021-03-31      0.0   태백      8.5     -0.2     18.5

[5681 rows x 6 columns]

## 모든 column 한글 단어 영어로 바꾸기

In [335]:
data_weather.columns = ['date', 'rain', 'province', 'mean', 'minimum', 'maximum']

data_weather

            date  rain province  mean  minimum  maximum
0     2020-01-20   0.0      북춘천  -0.9     -7.1      5.1
1     2020-01-21   0.0      북춘천  -3.1     -9.7      3.9
2     2020-01-22   0.0      북춘천  -0.5     -3.7      6.0
3     2020-01-23   0.0      북춘천   0.9     -5.7     10.7
4     2020-01-24   0.0      북춘천   0.5     -6.4      9.1
...          ...   ...      ...   ...      ...      ...
5676  2021-03-27  24.4       태백  10.6      6.3     14.1
5677  2021-03-28   1.3       태백  10.1      7.6     13.4
5678  2021-03-29   0.0       태백   9.0      5.5     13.1
5679  2021-03-30   0.0       태백   8.6      1.8     16.3
5680  2021-03-31   0.0       태백   8.5     -0.2     18.5

[5681 rows x 6 columns]

## column 순서 바꾸기

In [336]:
new_index = ['date', 'province', 'mean', 'minimum', 'maximum', 'rain']

data_weather = data_weather.reindex(new_index, axis = 1)

## 날짜, 지역 기준으로 오름차순으로 정렬하기

In [337]:
data_weather.sort_values(by=['date','province'], inplace=True)

data_weather

            date province  mean  minimum  maximum  rain
1748  2020-01-20       강릉   3.7      1.1      7.5   0.0
1311  2020-01-20      대관령  -3.7     -6.1     -0.7   0.0
3496  2020-01-20       동해   3.7      0.0      6.9   0.0
2185  2020-01-20      북강릉   2.2     -2.4      6.4   0.0
0     2020-01-20      북춘천  -0.9     -7.1      5.1   0.0
...          ...      ...   ...      ...      ...   ...
4806  2021-03-31       정선  10.8      0.2     22.8   0.0
5243  2021-03-31       철원  11.0      0.2     21.7   0.0
873   2021-03-31       춘천  12.7      2.2     23.5   0.0
5680  2021-03-31       태백   8.5     -0.2     18.5   0.0
3495  2021-03-31       홍천  11.9      0.8     23.2   0.0

[5681 rows x 6 columns]

## 모든 지역 한글 단어 영어로 바꾸기

In [338]:
data_weather['province'] = data_weather['province'].replace('강릉', 'Gangneung')
data_weather['province'] = data_weather['province'].replace('대관령', 'Daegwallyeong')
data_weather['province'] = data_weather['province'].replace('동해', 'Donghae')
data_weather['province'] = data_weather['province'].replace('북강릉', 'Northgangneung')
data_weather['province'] = data_weather['province'].replace('북춘천', 'Northchuncheon')
data_weather['province'] = data_weather['province'].replace('삼척', 'Samcheok')
data_weather['province'] = data_weather['province'].replace('속초', 'Sokcho')
data_weather['province'] = data_weather['province'].replace('원주', 'Wonju')
data_weather['province'] = data_weather['province'].replace('인제', 'Inje')
data_weather['province'] = data_weather['province'].replace('정선', 'Jeongseon')
data_weather['province'] = data_weather['province'].replace('철원', 'Cheorwon')
data_weather['province'] = data_weather['province'].replace('춘천', 'Chuncheon')
data_weather['province'] = data_weather['province'].replace('태백', 'Taebaek')
data_weather['province'] = data_weather['province'].replace('홍천', 'Hongcheon')

data_weather

            date        province  mean  minimum  maximum  rain
1748  2020-01-20       Gangneung   3.7      1.1      7.5   0.0
1311  2020-01-20   Daegwallyeong  -3.7     -6.1     -0.7   0.0
3496  2020-01-20         Donghae   3.7      0.0      6.9   0.0
2185  2020-01-20  Northgangneung   2.2     -2.4      6.4   0.0
0     2020-01-20  Northchuncheon  -0.9     -7.1      5.1   0.0
...          ...             ...   ...      ...      ...   ...
4806  2021-03-31       Jeongseon  10.8      0.2     22.8   0.0
5243  2021-03-31        Cheorwon  11.0      0.2     21.7   0.0
873   2021-03-31       Chuncheon  12.7      2.2     23.5   0.0
5680  2021-03-31         Taebaek   8.5     -0.2     18.5   0.0
3495  2021-03-31       Hongcheon  11.9      0.8     23.2   0.0

[5681 rows x 6 columns]

In [339]:
# csv 파일로 저장

data_weather.to_csv('weather강원.csv', index=False)

## 연습해 본 것들

In [107]:
period_idx = pd.period_range('2020-01-27', '2020-02-02', freq='D')

period_idx

PeriodIndex(['2020-01-27', '2020-01-28', '2020-01-29', '2020-01-30',
             '2020-01-31', '2020-02-01', '2020-02-02'],
            dtype='period[D]', freq='D')

In [108]:
data_weather[(data_weather['날짜'] == '2020-01-27') & (data_weather['지역'] == '인제')]['평균기온(℃)'].iloc[0]

5.1

In [202]:
data_weather[data_weather['지역'] == '인제'].fillna(avg)

              날짜   지점  강수량(mm)  지역  평균기온(℃)  최저기온(℃)  최고기온(℃)
3933  2020-01-20  211     0.00  인제      0.9     -3.5      5.1
3934  2020-01-21  211     0.00  인제     -2.7     -8.6      5.4
3935  2020-01-22  211     0.00  인제      0.2     -3.3      6.9
3936  2020-01-23  211     0.00  인제      1.2     -4.3     12.2
3937  2020-01-24  211     0.00  인제      0.6     -5.8      8.6
...          ...  ...      ...  ..      ...      ...      ...
4365  2021-03-27  211    12.40  인제     10.1      5.3     16.8
4366  2021-03-28  211     8.70  인제      9.9      8.8     11.9
4367  2021-03-29  211     0.05  인제     11.0      5.5     15.2
4368  2021-03-30  211     0.00  인제      9.2      0.1     18.6
4369  2021-03-31  211     0.00  인제     11.0      1.4     22.7

[437 rows x 7 columns]

In [113]:
# 주 평균 기온 구하기

sum = 0

for i in range(len(period_idx)) :
    print(data_weather[(data_weather['날짜'] == period_idx[i]) & (data_weather['지역'] == '인제')]['평균기온(℃)'].iloc[0])
    # sum = sum + data_weather[(data_weather['날짜'] == period_idx[i]) & (data_weather['지역'] == '인제')]['평균기온(℃)'].iloc[0]
    
mean = sum / 6
mean

IndexError: single positional indexer is out-of-bounds

In [ ]:
period_idx = pd.period_range('2020-02-17', '2020-02-23', freq='D')
sum = 0

for i in range(len(period_idx)) :
    sum = sum + data_weather[(data_weather['날짜'] == period_idx[i]) & (data_weather['지역'] == '정성군')]['평균기온(℃)']
    
mean = sum / 6

In [73]:
data_weather.iloc[3964]['평균기온(℃)'] = 
data_weather.iloc[4380]['평균기온(℃)'] =

KeyError: "None of [Index(['2020-02-20', 211, 0.0, '인제', nan, -2.7, 9.8], dtype='object')] are in the [columns]"