In [1]:
import pandas as pd
import os

In [2]:
path = 'C:/Users/위나현/Desktop/프로젝트/고속도로 톨게이트 입출구 교통량 데이터/'
file_list = os.listdir(path)
file_list_분기 = [file for file in file_list if file.endswith('분기.csv')]
file_list_분기

['2020년 1분기.csv',
 '2020년 2분기.csv',
 '2020년 3분기.csv',
 '2020년 4분기.csv',
 '2021년 1분기.csv']

In [5]:
df = pd.DataFrame()
for i in file_list_분기:
    data = pd.read_csv(path + i, encoding = 'cp949')
    df = pd.concat([df,data])
df

,집계일자,영업소코드,영업소명,입출구구분코드,입출구명,TCS하이패스구분코드,TCS하이패스명,고속도로운영기관구분코드,고속도로운영기관명,영업형태구분코드,영업형태명,1종교통량,2종교통량,3종교통량,4종교통량,5종교통량,6종교통량,총교통량
0,20200101,246,가락,0,입구,1,TCS,0,한국도로공사,0,폐쇄식,147,2,3,13,8,9,182
1,20200101,246,가락,0,입구,2,hi-pass,0,한국도로공사,0,폐쇄식,311,2,9,16,74,8,420
2,20200101,29,가락(개),0,입구,1,TCS,0,한국도로공사,1,개방식,1769,20,40,49,120,260,2258
3,20200101,29,가락(개),0,입구,2,hi-pass,0,한국도로공사,1,개방식,8312,26,72,40,499,444,9393
4,20200101,29,가락(개),1,출구,1,TCS,0,한국도로공사,1,개방식,2383,33,40,46,141,322,2965
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
127422,20210331,532,회인,1,출구,2,hi-pass,0,한국도로공사,0,폐쇄식,899,14,9,14,21,31,988
127423,20210331,216,횡성,0,입구,1,TCS,0,한국도로공사,0,폐쇄식,469,20,58,48,12,2,609
127424,20210331,216,횡성,0,입구,2,hi-pass,0,한국도로공사,0,폐쇄식,2515,101,74,101,123,135,3049
127425,20210331,216,횡성,1,출구,1,TCS,0,한국도로공사,0,폐쇄식,470,20,69,37,14,61,671
127426,20210331,216,횡성,1,출구,2,hi-pass,0,한국도로공사,0,폐쇄식,2524,124,65,72,131,132,3048

In [15]:
df컬럼삭제 = df.drop(columns = ['입출구구분코드', 'TCS하이패스구분코드', '고속도로운영기관구분코드', '고속도로운영기관명', 
                            '영업형태구분코드', '영업형태명'])
df컬럼삭제

,집계일자,영업소코드,영업소명,입출구명,TCS하이패스명,1종교통량,2종교통량,3종교통량,4종교통량,5종교통량,6종교통량,총교통량
0,20200101,246,가락,입구,TCS,147,2,3,13,8,9,182
1,20200101,246,가락,입구,hi-pass,311,2,9,16,74,8,420
2,20200101,29,가락(개),입구,TCS,1769,20,40,49,120,260,2258
3,20200101,29,가락(개),입구,hi-pass,8312,26,72,40,499,444,9393
4,20200101,29,가락(개),출구,TCS,2383,33,40,46,141,322,2965
...,...,...,...,...,...,...,...,...,...,...,...,...
127422,20210331,532,회인,출구,hi-pass,899,14,9,14,21,31,988
127423,20210331,216,횡성,입구,TCS,469,20,58,48,12,2,609
127424,20210331,216,횡성,입구,hi-pass,2515,101,74,101,123,135,3049
127425,20210331,216,횡성,출구,TCS,470,20,69,37,14,61,671
127426,20210331,216,횡성,출구,hi-pass,2524,124,65,72,131,132,3048

In [8]:
# 전라도의 외부방문자 상위 15개 시에 해당하는 영업소
전라 = ['동전주', '서전주', '전주', '군산', '동군산', '남순천', '동순천', '서순천', '순천', '순천만', '광주', '동광주', 
          '북광주', '동광산', '서광산', '무안', '무안공항', '북무안', '익산', '완주', '목포', '나주', '담양', '주암송광사', 
          '승주', '황전', '일로', '삼례', '소양', '상관', '문평', '창평']

In [16]:
df전라 = df컬럼삭제[df컬럼삭제['영업소명'].isin(전라)]
df전라

,집계일자,영업소코드,영업소명,입출구명,TCS하이패스명,1종교통량,2종교통량,3종교통량,4종교통량,5종교통량,6종교통량,총교통량
96,20200101,167,광주,입구,TCS,2784,21,78,92,20,30,3025
97,20200101,167,광주,입구,hi-pass,14022,197,778,216,122,287,15622
98,20200101,167,광주,출구,TCS,3297,35,71,147,24,220,3794
99,20200101,167,광주,출구,hi-pass,13364,196,824,250,133,303,15070
126,20200101,227,군산,입구,TCS,1366,10,13,15,6,3,1413
...,...,...,...,...,...,...,...,...,...,...,...,...
127231,20210331,262,창평,출구,hi-pass,2046,94,39,72,116,50,2417
127415,20210331,557,황전,입구,TCS,225,9,11,18,6,1,270
127416,20210331,557,황전,입구,hi-pass,1551,21,17,16,132,74,1811
127417,20210331,557,황전,출구,TCS,320,6,11,29,10,41,417
127418,20210331,557,황전,출구,hi-pass,1621,29,11,25,138,66,1890

In [17]:
# 입구 교통량만
df입구 = df전라[df전라.입출구명 == '입구']
df입구

,집계일자,영업소코드,영업소명,입출구명,TCS하이패스명,1종교통량,2종교통량,3종교통량,4종교통량,5종교통량,6종교통량,총교통량
96,20200101,167,광주,입구,TCS,2784,21,78,92,20,30,3025
97,20200101,167,광주,입구,hi-pass,14022,197,778,216,122,287,15622
126,20200101,227,군산,입구,TCS,1366,10,13,15,6,3,1413
127,20200101,227,군산,입구,hi-pass,4506,22,155,33,71,122,4909
198,20200101,551,나주,입구,TCS,129,3,1,0,0,1,134
...,...,...,...,...,...,...,...,...,...,...,...,...
127162,20210331,267,주암송광사,입구,hi-pass,1866,69,42,39,143,52,2211
127228,20210331,262,창평,입구,TCS,266,35,21,24,5,2,353
127229,20210331,262,창평,입구,hi-pass,2116,94,37,75,103,61,2486
127415,20210331,557,황전,입구,TCS,225,9,11,18,6,1,270
127416,20210331,557,황전,입구,hi-pass,1551,21,17,16,132,74,1811

In [18]:
df입구.drop(columns = '입출구명', inplace = True)
df입구

C:\miniconda\miniconda3\lib\site-packages\pandas\core\frame.py:4305: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().drop(

,집계일자,영업소코드,영업소명,TCS하이패스명,1종교통량,2종교통량,3종교통량,4종교통량,5종교통량,6종교통량,총교통량
96,20200101,167,광주,TCS,2784,21,78,92,20,30,3025
97,20200101,167,광주,hi-pass,14022,197,778,216,122,287,15622
126,20200101,227,군산,TCS,1366,10,13,15,6,3,1413
127,20200101,227,군산,hi-pass,4506,22,155,33,71,122,4909
198,20200101,551,나주,TCS,129,3,1,0,0,1,134
...,...,...,...,...,...,...,...,...,...,...,...
127162,20210331,267,주암송광사,hi-pass,1866,69,42,39,143,52,2211
127228,20210331,262,창평,TCS,266,35,21,24,5,2,353
127229,20210331,262,창평,hi-pass,2116,94,37,75,103,61,2486
127415,20210331,557,황전,TCS,225,9,11,18,6,1,270
127416,20210331,557,황전,hi-pass,1551,21,17,16,132,74,1811

In [22]:
# TCS하이패스 구분없이 교통량 합산
df합 = df입구.groupby(['집계일자', '영업소명', '영업소코드'], as_index = False).sum()
df합

           집계일자   영업소명  영업소코드  1종교통량  2종교통량  3종교통량  4종교통량  5종교통량  6종교통량   총교통량
0      20200101     광주    167  16806    218    856    308    142    317  18647
1      20200101     군산    227   5872     32    168     48     77    125   6322
2      20200101     나주    551    921      6      6      4      2     24    963
3      20200101    남순천    987  11550     48    141     68    165    201  12173
4      20200101     담양    249   3121     11    123     12      5     62   3334
...         ...    ...    ...    ...    ...    ...    ...    ...    ...    ...
14555  20210331     일로     56    629     18      9     16     93     37    802
14556  20210331     전주    158   5701    282    556    402    563    126   7630
14557  20210331  주암송광사    267   2214    107     54     72    152     57   2656
14558  20210331     창평    262   2382    129     58     99    108     63   2839
14559  20210331     황전    557   1776     30     28     34    138     75   2081

[14560 rows x 10 columns]

In [23]:
# 지역별 영업소
Jeonju = ['동전주', '서전주', '전주']
Gunsan = ['군산', '동군산']
Suncheon = ['남순천', '동순천', '서순천', '순천', '순천만', '주암송광사', '승주', '황전']
Gwangju = ['광주', '동광주', '북광주', '동광산', '서광산']
Muan = ['무안', '무안공항', '북무안', '일로']
Iksan = ['익산', '삼례']
Wanju = ['완주', '소양', '상관']
#목포
Naju = ['나주', '문평']
Damyang = ['담양', '창평']

In [26]:
지역 = []
for i in df합.영업소명:
    if i in Jeonju:
        지역.append('Jeonju')
    elif i in Gunsan:
        지역.append('Gunsan')
    elif i in Suncheon:
        지역.append('Suncheon')
    elif i in Gwangju:
        지역.append('Gwangju')
    elif i in Muan:
        지역.append('Muan')
    elif i in Iksan:
        지역.append('Iksan')
    elif i in Wanju:
        지역.append('Wanju')
    elif i == '목포':
        지역.append('Mokpo')
    elif i in Naju:
        지역.append('Naju')
    elif i in Damyang:
        지역.append('Damyang')
    else:
        print(i)
len(지역)

14560

In [27]:
df합['province'] = 지역
df합

,집계일자,영업소명,영업소코드,1종교통량,2종교통량,3종교통량,4종교통량,5종교통량,6종교통량,총교통량,province
0,20200101,광주,167,16806,218,856,308,142,317,18647,Gwangju
1,20200101,군산,227,5872,32,168,48,77,125,6322,Gunsan
2,20200101,나주,551,921,6,6,4,2,24,963,Naju
3,20200101,남순천,987,11550,48,141,68,165,201,12173,Suncheon
4,20200101,담양,249,3121,11,123,12,5,62,3334,Damyang
...,...,...,...,...,...,...,...,...,...,...,...
14555,20210331,일로,56,629,18,9,16,93,37,802,Muan
14556,20210331,전주,158,5701,282,556,402,563,126,7630,Jeonju
14557,20210331,주암송광사,267,2214,107,54,72,152,57,2656,Suncheon
14558,20210331,창평,262,2382,129,58,99,108,63,2839,Damyang
14559,20210331,황전,557,1776,30,28,34,138,75,2081,Suncheon

In [29]:
# 열 이름 영어로 바꿔주기
df합.columns = ['date', 'tollgate', 'code', '1jong', '2jong', '3jong', '4jong', '5jong', '6jong', 'total', 'province']
df합

,date,tollgate,code,1jong,2jong,3jong,4jong,5jong,6jong,total,province
0,20200101,광주,167,16806,218,856,308,142,317,18647,Gwangju
1,20200101,군산,227,5872,32,168,48,77,125,6322,Gunsan
2,20200101,나주,551,921,6,6,4,2,24,963,Naju
3,20200101,남순천,987,11550,48,141,68,165,201,12173,Suncheon
4,20200101,담양,249,3121,11,123,12,5,62,3334,Damyang
...,...,...,...,...,...,...,...,...,...,...,...
14555,20210331,일로,56,629,18,9,16,93,37,802,Muan
14556,20210331,전주,158,5701,282,556,402,563,126,7630,Jeonju
14557,20210331,주암송광사,267,2214,107,54,72,152,57,2656,Suncheon
14558,20210331,창평,262,2382,129,58,99,108,63,2839,Damyang
14559,20210331,황전,557,1776,30,28,34,138,75,2081,Suncheon

In [ ]:
df합.to_csv('전라_교통량.csv', encoding = 'cp949')