In [1]:
import pandas as pd
import os

In [2]:
path = 'C:/Users/위나현/Desktop/프로젝트/기온강수량'
file_list = os.listdir(path)
file_list_기온 = [file for file in file_list if file.endswith('기온.csv')]
file_list_기온

['광주_기온.csv',
 '군산_기온.csv',
 '목포_기온.csv',
 '순창_기온.csv',
 '순천_기온.csv',
 '여수_기온.csv',
 '전주_기온.csv']

In [23]:
df기온 = pd.DataFrame()
for i in file_list_기온:
    data = pd.read_csv(path + '/' + i, encoding = 'cp949', skiprows = 7)
    data['지역'] = i[:2]
    df기온 = pd.concat([df기온,data])
    
df기온

             날짜   지점  평균기온(℃)  최저기온(℃)  최고기온(℃)  지역
0    2020-01-01  156     -0.3     -4.9      5.7  광주
1    2020-01-02  156      2.6     -2.6      8.4  광주
2    2020-01-03  156      3.8      0.2      8.7  광주
3    2020-01-04  156      3.4     -1.6      9.2  광주
4    2020-01-05  156      4.9     -1.7     11.2  광주
..          ...  ...      ...      ...      ...  ..
570  2021-07-24  146     29.9     24.9     34.4  전주
571  2021-07-25  146     29.6     24.8     34.7  전주
572  2021-07-26  146     29.4     24.1     34.7  전주
573  2021-07-27  146     29.3     23.4     34.5  전주
574  2021-07-28  146     29.0     24.7     34.4  전주

[4025 rows x 6 columns]

In [4]:
path = 'C:/Users/위나현/Desktop/프로젝트/기온강수량'
file_list = os.listdir(path)
file_list_강수량 = [file for file in file_list if file.endswith('강수량.csv')]
file_list_강수량

['광주_강수량.csv',
 '군산_강수량.csv',
 '목포_강수량.csv',
 '순창_강수량.csv',
 '순천_강수량.csv',
 '여수_강수량.csv',
 '전주_강수량.csv']

In [5]:
df강수량 = pd.DataFrame()
for i in file_list_강수량:
    data = pd.read_csv(path + '/' + i, encoding = 'cp949', skiprows = 7)
    data['지역'] = i[:2]
    df강수량 = pd.concat([df강수량,data])
    
df강수량# = df강수량.reset_index(drop = True)

             날짜   지점  강수량(mm)  지역
0    2020-01-01  156      NaN  광주
1    2020-01-02  156      NaN  광주
2    2020-01-03  156      NaN  광주
3    2020-01-04  156      NaN  광주
4    2020-01-05  156      NaN  광주
..          ...  ...      ...  ..
570  2021-07-24  146      NaN  전주
571  2021-07-25  146      NaN  전주
572  2021-07-26  146      NaN  전주
573  2021-07-27  146      NaN  전주
574  2021-07-28  146      5.7  전주

[4025 rows x 4 columns]

In [6]:
df기온.groupby('지역').count()

     날짜   지점  평균기온(℃)  최저기온(℃)  최고기온(℃)
지역
광주  575  575      575      575      575
군산  575  575      572      575      575
목포  575  575      575      575      575
순창  575  575      574      575      575
순천  575  575      574      575      575
여수  575  575      575      575      575
전주  575  575      575      575      575

In [7]:
df강수량.groupby('지역').count()

     날짜   지점  강수량(mm)
지역
광주  575  575      238
군산  575  575      245
목포  575  575      230
순창  575  575      219
순천  575  575      203
여수  575  575      205
전주  575  575      262

In [8]:
from datetime import datetime

start = datetime.strptime("20200101", "%Y%m%d")
end = datetime.strptime("20210728", "%Y%m%d")
start - end

datetime.timedelta(days=-574)

In [24]:
# 강수량 0.0으로 표시된 값은 반올림 결과이기 때문에 0.05로 수정
df기온['강수량'] = df강수량['강수량(mm)'].replace(0, 0.05)
df기온[df기온['강수량'] == 0.05]

             날짜   지점  평균기온(℃)  최저기온(℃)  최고기온(℃)  지역   강수량
18   2020-01-19  156      3.0      0.0      7.2  광주  0.05
28   2020-01-29  156      6.6      5.4      8.8  광주  0.05
30   2020-01-31  156      4.3      1.6      8.5  광주  0.05
33   2020-02-03  156      2.0     -1.3      6.6  광주  0.05
34   2020-02-04  156      2.1     -3.2      8.2  광주  0.05
..          ...  ...      ...      ...      ...  ..   ...
546  2021-06-30  146     24.9     20.9     30.1  전주  0.05
558  2021-07-12  146     28.6     25.4     33.7  전주  0.05
563  2021-07-17  146     26.3     21.6     32.7  전주  0.05
565  2021-07-19  146     26.6     23.0     32.0  전주  0.05
566  2021-07-20  146     27.4     24.1     31.4  전주  0.05

[335 rows x 7 columns]

In [25]:
# 결측값이 없는 강수량은 0으로 수정
df기온['강수량'] = df기온['강수량'].fillna(0)
df기온.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 4025 entries, 0 to 574
Data columns (total 7 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   날짜       4025 non-null   object
 1   지점       4025 non-null   int64
 2   평균기온(℃)  4020 non-null   float64
 3   최저기온(℃)  4025 non-null   float64
 4   최고기온(℃)  4025 non-null   float64
 5   지역       4025 non-null   object
 6   강수량      4025 non-null   float64
dtypes: float64(4), int64(1), object(2)
memory usage: 251.6+ KB

In [26]:
df기온.columns = ['날짜', '지점', '평균기온', '최저기온', '최고기온', '지역', '강수량']
df합 = df기온[['날짜', '지역', '평균기온', '최저기온', '최고기온', '강수량']]
df합.reset_index(drop = True, inplace = True)

              날짜  지역  평균기온  최저기온  최고기온  강수량
0     2020-01-01  광주  -0.3  -4.9   5.7  0.0
1     2020-01-02  광주   2.6  -2.6   8.4  0.0
2     2020-01-03  광주   3.8   0.2   8.7  0.0
3     2020-01-04  광주   3.4  -1.6   9.2  0.0
4     2020-01-05  광주   4.9  -1.7  11.2  0.0
...          ...  ..   ...   ...   ...  ...
4020  2021-07-24  전주  29.9  24.9  34.4  0.0
4021  2021-07-25  전주  29.6  24.8  34.7  0.0
4022  2021-07-26  전주  29.4  24.1  34.7  0.0
4023  2021-07-27  전주  29.3  23.4  34.5  0.0
4024  2021-07-28  전주  29.0  24.7  34.4  5.7

[4025 rows x 6 columns]

In [27]:
df합.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 4025 entries, 0 to 574
Data columns (total 6 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   날짜      4025 non-null   object
 1   지역      4025 non-null   object
 2   평균기온    4020 non-null   float64
 3   최저기온    4025 non-null   float64
 4   최고기온    4025 non-null   float64
 5   강수량     4025 non-null   float64
dtypes: float64(4), object(2)
memory usage: 220.1+ KB

In [35]:
# r결측치확인
df합[df합['평균기온'].isnull()]

              날짜  지역  평균기온  최저기온  최고기온  강수량
680   2020-04-15  군산   NaN   4.7  17.0  0.0
910   2020-12-01  군산   NaN  -1.5   8.4  0.0
1147  2021-07-26  군산   NaN  23.3  30.2  0.0
2281  2021-07-10  순창   NaN  22.7  32.4  0.0
2317  2020-01-18  순천   NaN  -1.7   4.1  0.0

In [36]:
df합.iloc[675:685,]

             날짜  지역  평균기온  최저기온  최고기온   강수량
675  2020-04-10  군산   8.8   3.9  13.5   0.0
676  2020-04-11  군산   7.3   3.8  11.3   0.0
677  2020-04-12  군산   8.3   1.7  16.9   2.5
678  2020-04-13  군산   9.9   5.3  15.1   0.0
679  2020-04-14  군산  10.7   4.8  17.5   0.0
680  2020-04-15  군산   NaN   4.7  17.0   0.0
681  2020-04-16  군산  14.3   4.8  23.9   0.0
682  2020-04-17  군산  13.6  10.2  20.1   4.5
683  2020-04-18  군산  10.4   8.4  14.1   0.1
684  2020-04-19  군산  10.9   8.2  14.1  13.2

In [48]:
# 앞뒤 값은 평균으로 결측값 채우기
df합.iloc[680, 2] = df합.iloc[679:682,].평균기온.mean()
df합.iloc[679:682,]

C:\miniconda\miniconda3\lib\site-packages\pandas\core\indexing.py:1719: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_column(loc, value, pi)

             날짜  지역  평균기온  최저기온  최고기온  강수량
679  2020-04-14  군산  10.7   4.8  17.5  0.0
680  2020-04-15  군산  12.5   4.7  17.0  0.0
681  2020-04-16  군산  14.3   4.8  23.9  0.0

In [41]:
df합.iloc[908:913,]

             날짜  지역  평균기온  최저기온  최고기온   강수량
908  2020-11-29  군산   3.2   1.8   4.9  0.05
909  2020-11-30  군산   3.3  -0.5   8.0  0.00
910  2020-12-01  군산   NaN  -1.5   8.4  0.00
911  2020-12-02  군산   4.8   1.1   9.5  0.00
912  2020-12-03  군산   3.0  -0.9   6.9  0.00

In [45]:
df합.iloc[909:912,].평균기온.mean()

4.05

In [49]:
df합.iloc[910, 2] = 4.1
df합.iloc[909:912,]

C:\miniconda\miniconda3\lib\site-packages\pandas\core\indexing.py:1719: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_column(loc, value, pi)

             날짜  지역  평균기온  최저기온  최고기온  강수량
909  2020-11-30  군산   3.3  -0.5   8.0  0.0
910  2020-12-01  군산   4.1  -1.5   8.4  0.0
911  2020-12-02  군산   4.8   1.1   9.5  0.0

In [50]:
df합.iloc[1145:1150,]

              날짜  지역  평균기온  최저기온  최고기온  강수량
1145  2021-07-24  군산  28.8  24.8  34.2  0.0
1146  2021-07-25  군산  29.0  24.4  33.9  0.0
1147  2021-07-26  군산   NaN  23.3  30.2  0.0
1148  2021-07-27  군산  28.6  23.8  32.9  0.0
1149  2021-07-28  군산  28.4  24.4  32.4  0.0

In [53]:
df합.iloc[1147, 2] = df합.iloc[1146:1149,].평균기온.mean()
df합.iloc[1146:1149,]

C:\miniconda\miniconda3\lib\site-packages\pandas\core\indexing.py:1719: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_column(loc, value, pi)

              날짜  지역  평균기온  최저기온  최고기온  강수량
1146  2021-07-25  군산  29.0  24.4  33.9  0.0
1147  2021-07-26  군산  28.8  23.3  30.2  0.0
1148  2021-07-27  군산  28.6  23.8  32.9  0.0

In [54]:
df합.iloc[2279:2284,]

              날짜  지역  평균기온  최저기온  최고기온   강수량
2279  2021-07-08  순창  25.8  23.4  29.4  3.30
2280  2021-07-09  순창  26.2  23.1  30.9  0.05
2281  2021-07-10  순창   NaN  22.7  32.4  0.00
2282  2021-07-11  순창  26.4  21.5  31.7  0.05
2283  2021-07-12  순창  28.0  23.8  33.4  0.00

In [55]:
df합.iloc[2281, 2] = df합.iloc[2280:2283,].평균기온.mean()
df합.iloc[2280:2283,]

C:\miniconda\miniconda3\lib\site-packages\pandas\core\indexing.py:1719: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_column(loc, value, pi)

              날짜  지역  평균기온  최저기온  최고기온   강수량
2280  2021-07-09  순창  26.2  23.1  30.9  0.05
2281  2021-07-10  순창  26.3  22.7  32.4  0.00
2282  2021-07-11  순창  26.4  21.5  31.7  0.05

In [57]:
df합.iloc[2315:2320,]

              날짜  지역  평균기온  최저기온  최고기온  강수량
2315  2020-01-16  순천   1.9  -4.1   8.1  0.0
2316  2020-01-17  순천   2.6  -0.4   8.3  0.0
2317  2020-01-18  순천   NaN  -1.7   4.1  0.0
2318  2020-01-19  순천   2.3  -3.2   5.7  0.0
2319  2020-01-20  순천   3.3  -2.6   6.9  0.0

In [59]:
df합.iloc[2317, 2] = 2.5
df합.iloc[2316:2319,]

C:\miniconda\miniconda3\lib\site-packages\pandas\core\indexing.py:1719: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_column(loc, value, pi)

              날짜  지역  평균기온  최저기온  최고기온  강수량
2316  2020-01-17  순천   2.6  -0.4   8.3  0.0
2317  2020-01-18  순천   2.5  -1.7   4.1  0.0
2318  2020-01-19  순천   2.3  -3.2   5.7  0.0

In [60]:
df합.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4025 entries, 0 to 4024
Data columns (total 6 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   날짜      4025 non-null   object
 1   지역      4025 non-null   object
 2   평균기온    4025 non-null   float64
 3   최저기온    4025 non-null   float64
 4   최고기온    4025 non-null   float64
 5   강수량     4025 non-null   float64
dtypes: float64(4), object(2)
memory usage: 188.8+ KB

In [61]:
df합

              날짜  지역  평균기온  최저기온  최고기온  강수량
0     2020-01-01  광주  -0.3  -4.9   5.7  0.0
1     2020-01-02  광주   2.6  -2.6   8.4  0.0
2     2020-01-03  광주   3.8   0.2   8.7  0.0
3     2020-01-04  광주   3.4  -1.6   9.2  0.0
4     2020-01-05  광주   4.9  -1.7  11.2  0.0
...          ...  ..   ...   ...   ...  ...
4020  2021-07-24  전주  29.9  24.9  34.4  0.0
4021  2021-07-25  전주  29.6  24.8  34.7  0.0
4022  2021-07-26  전주  29.4  24.1  34.7  0.0
4023  2021-07-27  전주  29.3  23.4  34.5  0.0
4024  2021-07-28  전주  29.0  24.7  34.4  5.7

[4025 rows x 6 columns]

In [64]:
df합['지역'] = df합['지역'].replace('광주', 'Gwangju').replace('군산', 'Gunsan').replace('목포', 'Mokpo').replace('순창', 'Sunchang').replace('순천', 'Suncheon').replace('여수', 'Yeosu').replace('전주', 'Jeonju')
df합

<ipython-input-64-159371b9d7de>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df합['지역'] = df합['지역'].replace('광주', 'Gwangju').replace('군산', 'Gunsan').replace('목포', 'Mokpo').replace('순창', 'Sunchang').replace('순천', 'Suncheon').replace('여수', 'Yeosu').replace('전주', 'Jeonju')

              날짜       지역  평균기온  최저기온  최고기온  강수량
0     2020-01-01  Gwangju  -0.3  -4.9   5.7  0.0
1     2020-01-02  Gwangju   2.6  -2.6   8.4  0.0
2     2020-01-03  Gwangju   3.8   0.2   8.7  0.0
3     2020-01-04  Gwangju   3.4  -1.6   9.2  0.0
4     2020-01-05  Gwangju   4.9  -1.7  11.2  0.0
...          ...      ...   ...   ...   ...  ...
4020  2021-07-24   Jeonju  29.9  24.9  34.4  0.0
4021  2021-07-25   Jeonju  29.6  24.8  34.7  0.0
4022  2021-07-26   Jeonju  29.4  24.1  34.7  0.0
4023  2021-07-27   Jeonju  29.3  23.4  34.5  0.0
4024  2021-07-28   Jeonju  29.0  24.7  34.4  5.7

[4025 rows x 6 columns]

In [65]:
df합.columns = ['date', 'province', 'mean', 'minimum', 'maximum', 'rain']
df합

            date province  mean  minimum  maximum  rain
0     2020-01-01  Gwangju  -0.3     -4.9      5.7   0.0
1     2020-01-02  Gwangju   2.6     -2.6      8.4   0.0
2     2020-01-03  Gwangju   3.8      0.2      8.7   0.0
3     2020-01-04  Gwangju   3.4     -1.6      9.2   0.0
4     2020-01-05  Gwangju   4.9     -1.7     11.2   0.0
...          ...      ...   ...      ...      ...   ...
4020  2021-07-24   Jeonju  29.9     24.9     34.4   0.0
4021  2021-07-25   Jeonju  29.6     24.8     34.7   0.0
4022  2021-07-26   Jeonju  29.4     24.1     34.7   0.0
4023  2021-07-27   Jeonju  29.3     23.4     34.5   0.0
4024  2021-07-28   Jeonju  29.0     24.7     34.4   5.7

[4025 rows x 6 columns]

In [ ]:
df합.to_csv('weather전라.csv', encoding = 'cp949')