## 2021-1분기 데이터 전처리

In [113]:
import pandas as pd
from pandas import DataFrame, Series

data_1 = pd.read_csv('2021__1.csv')

data_1

,집계일자,영업소코드,영업소명,입출구구분코드,입출구명,TCS하이패스구분코드,TCS하이패스명,고속도로운영기관구분코드,고속도로운영기관명,영업형태구분코드,영업형태명,1종교통량,2종교통량,3종교통량,4종교통량,5종교통량,6종교통량,총교통량
0,20210101,246,가락,0,입구,1,TCS,0,한국도로공사,0,폐쇄식,81,2,8,17,3,0,111
1,20210101,246,가락,0,입구,2,hi-pass,0,한국도로공사,0,폐쇄식,309,8,33,29,24,6,409
2,20210101,29,가락(개),0,입구,1,TCS,0,한국도로공사,1,개방식,1363,16,60,43,94,202,1778
3,20210101,29,가락(개),0,입구,2,hi-pass,0,한국도로공사,1,개방식,7718,31,72,44,503,405,8773
4,20210101,29,가락(개),1,출구,1,TCS,0,한국도로공사,1,개방식,1668,16,53,36,76,226,2075
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
127422,20210331,532,회인,1,출구,2,hi-pass,0,한국도로공사,0,폐쇄식,899,14,9,14,21,31,988
127423,20210331,216,횡성,0,입구,1,TCS,0,한국도로공사,0,폐쇄식,469,20,58,48,12,2,609
127424,20210331,216,횡성,0,입구,2,hi-pass,0,한국도로공사,0,폐쇄식,2515,101,74,101,123,135,3049
127425,20210331,216,횡성,1,출구,1,TCS,0,한국도로공사,0,폐쇄식,470,20,69,37,14,61,671
127426,20210331,216,횡성,1,출구,2,hi-pass,0,한국도로공사,0,폐쇄식,2524,124,65,72,131,132,3048

In [114]:
kangwon = ['춘천', '홍천', '동홍천', '원주영업소', '북원주', '남원주', '신림', '문막', '대관령', '남강릉', '강릉',
        '옥계영업소', '북강릉', '속초', '동홍천', '내촌', '홍천', '면온', '평창', '속사', '진부', '동해', '인제',
        '미시령', '남양양영업소', '삼척', '근덕', '북양양', '서양양영업소', '양양', '하조대', '망상']

kyungsang = ['가락', '가락(개)', '가락2', '건천', '경산', '경주', '광재', '구미',
       '금정', '기장동JC', '기장서JC', '기장일광(KEC)', '기장일광입구', '기장철마',
       '김해가야휴게소', '남경주', '남구미', '남대구', '남양산', '남포항', '노포',
       '달성', '대동', '대동(개)', '동경주', '동김해', '동창원', '마산', '문산',
       '물금', '배내골', '범서', '부산', '북대구', '북부산', '북창원', '북현풍',
       '서김해', '서대구', '서부산', '서울산', '서진주', '서포항', '선산', '양산',
       '울주동JC', '울주서JC', '유천', '장유', '진례', '진성', '진영', '진영휴게소',
       '진주', '통도사', '통도사휴게소', '팔공산', '포항', '한림', '현풍', '화원옥포', '활천']

jeolla = ['동전주', '서전주', '전주', '군산', '동군산', '남순천', '동순천', '서순천', '순천', '순천만', '광주',
 '동광주', '북광주', '동광산', '서광산', '무안','무안공항', '북무안', '익산', '완주', '목포',
'나주', '담양', '주암송광사', '승주', '황전','일로', '옥곡', '진월', '삼례', '소양', '상관', '문평','창평']

chungcheong_kyunggi = ['금강','금강휴게소','대전','목천','북천안','신탄진','안성','옥천','천안','유구','안영',
                       '서공주','청양','판암','괴산','구병산','남이천','단양','문의','보은','북단양','서청주',
                       '속리산','연풍','일죽','증평','회인','남안성','대왕판교','동서울','마성','서서울','서안성',
                       '송탄','성남','신둔','안산','하남']

total_region_name_1 = kangwon + kyungsang + jeolla + chungcheong_kyunggi

total_region_name_1

['춘천',
 '홍천',
 '동홍천',
 '원주영업소',
 '북원주',
 '남원주',
 '신림',
 '문막',
 '대관령',
 '남강릉',
 '강릉',
 '옥계영업소',
 '북강릉',
 '속초',
 '동홍천',
 '내촌',
 '홍천',
 '면온',
 '평창',
 '속사',
 '진부',
 '동해',
 '인제',
 '미시령',
 '남양양영업소',
 '삼척',
 '근덕',
 '북양양',
 '서양양영업소',
 '양양',
 '하조대',
 '망상',
 '가락',
 '가락(개)',
 '가락2',
 '건천',
 '경산',
 '경주',
 '광재',
 '구미',
 '금정',
 '기장동JC',
 '기장서JC',
 '기장일광(KEC)',
 '기장일광입구',
 '기장철마',
 '김해가야휴게소',
 '남경주',
 '남구미',
 '남대구',
 '남양산',
 '남포항',
 '노포',
 '달성',
 '대동',
 '대동(개)',
 '동경주',
 '동김해',
 '동창원',
 '마산',
 '문산',
 '물금',
 '배내골',
 '범서',
 '부산',
 '북대구',
 '북부산',
 '북창원',
 '북현풍',
 '서김해',
 '서대구',
 '서부산',
 '서울산',
 '서진주',
 '서포항',
 '선산',
 '양산',
 '울주동JC',
 '울주서JC',
 '유천',
 '장유',
 '진례',
 '진성',
 '진영',
 '진영휴게소',
 '진주',
 '통도사',
 '통도사휴게소',
 '팔공산',
 '포항',
 '한림',
 '현풍',
 '화원옥포',
 '활천',
 '동전주',
 '서전주',
 '전주',
 '군산',
 '동군산',
 '남순천',
 '동순천',
 '서순천',
 '순천',
 '순천만',
 '광주',
 '동광주',
 '북광주',
 '동광산',
 '서광산',
 '무안',
 '무안공항',
 '북무안',
 '익산',
 '완주',
 '목포',
 '나주',
 '담양',
 '주암송광사',
 '승주',
 '황전',
 '일로',
 '옥곡',
 '진월',
 '삼례',
 '소양',
 '상관',
 '문평',
 '창평',
 '금강',
 '금강휴게소',
 '대전',
 '목천',
 '북천안',
 '신탄진',
 '안성',
 '옥천',
 '천안',
 '유구',
 '안영',
 '서공주',
 '청양',
 '판암',
 '괴산',
 '구병산',
 '남이천',
 '단양',
 '문의',
 '보은',
 '북단양',
 '서청주',
 '속리산',
 '연풍',
 '일죽',
 '증평',
 '회인',
 '남안성',
 '대왕판교',
 '동서울',
 '마성',
 '서서울',
 '서안성',
 '송탄',
 '성남',
 '신둔',
 '안산',
 '하남']

In [115]:
data_region_1 = data_1[data_1['영업소명'].isin(total_region_name)]

data_region_1

,집계일자,영업소코드,영업소명,입출구구분코드,입출구명,TCS하이패스구분코드,TCS하이패스명,고속도로운영기관구분코드,고속도로운영기관명,영업형태구분코드,영업형태명,1종교통량,2종교통량,3종교통량,4종교통량,5종교통량,6종교통량,총교통량
0,20210101,246,가락,0,입구,1,TCS,0,한국도로공사,0,폐쇄식,81,2,8,17,3,0,111
1,20210101,246,가락,0,입구,2,hi-pass,0,한국도로공사,0,폐쇄식,309,8,33,29,24,6,409
2,20210101,29,가락(개),0,입구,1,TCS,0,한국도로공사,1,개방식,1363,16,60,43,94,202,1778
3,20210101,29,가락(개),0,입구,2,hi-pass,0,한국도로공사,1,개방식,7718,31,72,44,503,405,8773
4,20210101,29,가락(개),1,출구,1,TCS,0,한국도로공사,1,개방식,1668,16,53,36,76,226,2075
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
127418,20210331,557,황전,1,출구,2,hi-pass,0,한국도로공사,0,폐쇄식,1621,29,11,25,138,66,1890
127419,20210331,532,회인,0,입구,1,TCS,0,한국도로공사,0,폐쇄식,168,4,6,4,1,1,184
127420,20210331,532,회인,0,입구,2,hi-pass,0,한국도로공사,0,폐쇄식,1047,13,7,9,22,38,1136
127421,20210331,532,회인,1,출구,1,TCS,0,한국도로공사,0,폐쇄식,157,4,6,2,3,13,185
127422,20210331,532,회인,1,출구,2,hi-pass,0,한국도로공사,0,폐쇄식,899,14,9,14,21,31,988

In [116]:
data_region_1.drop(columns=['영업형태구분코드', 'TCS하이패스명', '고속도로운영기관명', '고속도로운영기관구분코드', '입출구명'])

,집계일자,영업소코드,영업소명,입출구구분코드,TCS하이패스구분코드,영업형태명,1종교통량,2종교통량,3종교통량,4종교통량,5종교통량,6종교통량,총교통량
0,20210101,246,가락,0,1,폐쇄식,81,2,8,17,3,0,111
1,20210101,246,가락,0,2,폐쇄식,309,8,33,29,24,6,409
2,20210101,29,가락(개),0,1,개방식,1363,16,60,43,94,202,1778
3,20210101,29,가락(개),0,2,개방식,7718,31,72,44,503,405,8773
4,20210101,29,가락(개),1,1,개방식,1668,16,53,36,76,226,2075
...,...,...,...,...,...,...,...,...,...,...,...,...,...
127418,20210331,557,황전,1,2,폐쇄식,1621,29,11,25,138,66,1890
127419,20210331,532,회인,0,1,폐쇄식,168,4,6,4,1,1,184
127420,20210331,532,회인,0,2,폐쇄식,1047,13,7,9,22,38,1136
127421,20210331,532,회인,1,1,폐쇄식,157,4,6,2,3,13,185
127422,20210331,532,회인,1,2,폐쇄식,899,14,9,14,21,31,988

## 전처리하여 모든 분기 합친 데이터로 시작

- data_region : 전체 지역 포함한 데이터
- data : data_region
- data_entrance : 입구만 포함한 데이터
- data_TCS : 하이패스와 TCS를 합친 데이터

In [59]:
data_region = pd.read_excel('all.xlsx')

In [65]:
data = data_region

In [82]:
data_region

,Unnamed: 0,집계일자,영업소코드,영업소명,입출구구분코드,TCS하이패스구분코드,고속도로운영기관구분코드,영업형태구분코드,1종교통량,2종교통량,3종교통량,6종교통량,총교통량
0,0,20200101,246,가락,0,1,0,0,147,2,3,9,161
1,1,20200101,246,가락,0,2,0,0,311,2,9,8,330
2,2,20200101,29,가락(개),0,1,0,1,1769,20,40,260,2089
3,3,20200101,29,가락(개),0,2,0,1,8312,26,72,444,8854
4,4,20200101,29,가락(개),1,1,0,1,2383,33,40,322,2778
...,...,...,...,...,...,...,...,...,...,...,...,...,...
257981,127418,20210331,557,황전,1,2,0,0,1621,29,11,66,1727
257982,127419,20210331,532,회인,0,1,0,0,168,4,6,1,179
257983,127420,20210331,532,회인,0,2,0,0,1047,13,7,38,1105
257984,127421,20210331,532,회인,1,1,0,0,157,4,6,13,180
257985,127422,20210331,532,회인,1,2,0,0,899,14,9,31,953

In [90]:
data.sort_values(by=['집계일자','영업소명'], inplace=True)

data = data_region.reset_index()

data.drop(columns=['고속도로운영기관구분코드', '영업형태구분코드', 'Unnamed: 0', 'index'], inplace=True)

In [91]:
data_temp = data[data['입출구구분코드']==0]

In [92]:
data_entrance = data_temp.drop(columns=['입출구구분코드'])data = data_region.reset_index()

In [94]:
data_entrance = data_entrance.reset_index()

data_entrance.drop(columns=['index'], inplace=True)

In [97]:
data_entrance

            집계일자  영업소코드   영업소명  TCS하이패스구분코드  1종교통량  2종교통량  3종교통량  6종교통량  총교통량
0       20200101    246     가락            1    147      2      3      9   161
1       20200101    246     가락            2    311      2      9      8   330
2       20200101     29  가락(개)            1   1769     20     40    260  2089
3       20200101     29  가락(개)            2   8312     26     72    444  8854
4       20200101    189     강릉            1   3047     20     16      6  3089
...          ...    ...    ...          ...    ...    ...    ...    ...   ...
127569  20210331    722     활천            2   1030    114     92     52  1288
127570  20210331    557     황전            1    225      9     11      1   246
127571  20210331    557     황전            2   1551     21     17     74  1663
127572  20210331    532     회인            1    168      4      6      1   179
127573  20210331    532     회인            2   1047     13      7     38  1105

[127574 rows x 9 columns]

In [103]:
data_TCS = data_entrance.groupby(['집계일자', '영업소명', '영업소코드'], as_index=False).sum()

data_TCS.drop(columns=['TCS하이패스구분코드'], inplace=True)

In [104]:
data_TCS

           집계일자   영업소명  영업소코드  1종교통량  2종교통량  3종교통량  6종교통량   총교통량
0      20200101     가락    246    458      4     12     17    491
1      20200101  가락(개)     29  10081     46    112    704  10943
2      20200101     강릉    189  14968    141    558    401  16068
3      20200101     건천    133   4621     35    109    120   4885
4      20200101     경산    131   9152    359    334    321  10166
...         ...    ...    ...    ...    ...    ...    ...    ...
65548  20210331     홍천    179   5617    203    268    322   6410
65549  20210331   화원옥포    231  13375    525    439    741  15080
65550  20210331     활천    722   1182    137    184     55   1558
65551  20210331     황전    557   1776     30     28     75   1909
65552  20210331     회인    532   1215     17     13     39   1284

[65553 rows x 8 columns]